/* Universal Styles */

p, h2, h4, span {
  font-family: 'Open Sans', sans-serif;
  color: #2A388F;
  text-align: center;
  line-height: 1.2;
}

h1, h3, h5, h6 {
  font-family: 'Bevan', cursive;
  text-align: center;
  color: #2A388F;
  line-height: 1.2;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: .05rem;
}

h2, h3 {
  font-size: 1.75rem;
  letter-spacing: .05rem;
}

span {
  font-size: 1.25rem;
  padding-right: 1rem;
  padding-left: .25rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #2A388F;
}

a:hover {
  color: #ed1c24;
}

/* Header Section */

header {
  padding: 1rem 4rem;
  border-bottom: 5px solid #2A388F;
}

header img {
  height: 6rem;
}

/* Navigation */

nav {
  border-bottom: 8px solid #2A388F;
  padding: 1rem 4.25rem;
}


/* Hero Section */

#hero {
  padding: 4rem 2rem;
}

/* Services Section */

#services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

div.service {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.service img {
  height: 12rem;
}

.service h3 {
  padding: 2rem;
}

/* Contact Section */

#contact {
  padding: 4rem 2rem;
}

#contact h2 {
  font-weight: bolder;
  padding: 1rem 0;
  color: #FFF;
  letter-spacing: .15rem;
}

div.blue_background {
  width: 100%;
  background-color: #2A388F;
  margin-top: 4rem;
}
